<.flash_group flash={@flash} />
<h1 class="text-6xl">Fence Alchemy</h1>
<button onclick="clearMarkers()">Clear</button>
<div id="map" class="w-full h-[80vh]"></div>


<script src={~p"/scripts/map.js"}></script>
